# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace
!*.xcodeproj/project.xcworkspace/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
*.swp
*~

# App packaging
*.app
*.dmg
